@import url("https://fonts.googleapis.com/css2?family=Lato:wght@0,100;1,300;2,700&family=Roboto:wght@100&display=swap");
@import url("./normalize.css");

body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

button.custom-pink {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #d8315b;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

button.custom-blue {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0a2463;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

button.custom-blue:hover,
button.custom-blue:active,
button.custom-blue:focus {
    background: #092158;
}

button.custom-pink:hover,
button.custom-pink:active,
button.custom-pink:focus {
    background: #a01a3b;
}

h1 {
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: auto auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input,
select {
    font-family: "Lato", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
